<!DOCTYPE html>
<html>
<head>
  <title>Cyclesity</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCxxIKK_7tBar9QwtAT5s5AHKBG2JnZeSQ&sensor=true" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
